In [ ]:
# import gzip
# import csv
# with gzip.open('day_0.gz', 'rt') as f:

#     tsv_reader = csv.reader(f, delimiter="\t")

#     number_of_lines = 10

#     for i in range(number_of_lines):
#         row = next(tsv_reader)
#         print(i, row)

In [ ]:
# import gzip
# import csv
# with gzip.open('day_0.gz', 'rt') as f:

#     tsv_reader = csv.reader(f, delimiter="\t")

#     number_of_lines = 100

#     for i in range(number_of_lines):
#         row = next(tsv_reader)
#         print(i, row)

In [ ]:
# import gzip
# import csv
# with gzip.open('day_0.gz', 'rt') as f:

#     tsv_reader = csv.reader(f, delimiter="\t")

#     number_of_lines = 100

#     for i in range(number_of_lines):
#         row = next(tsv_reader)
#         for j in row:
#             print(j)

In [ ]:
#import gzip
#import csv
#import pandas as pd
#list = []
#with gzip.open('day_0.gz', 'rt') as f:

#    tsv_reader = csv.reader(f, delimiter="\t")
#
#    number_of_lines = 1000

#    for i in range(number_of_lines):
#        row = next(tsv_reader)
#        list.append(row)
#        df=pd.DataFrame(list,columns=['Col 1','Col 2','Col 3','Col 4','Col 5','Col 6','Col 7','Col 8','Col 9','Col 10','Col 11','Col 12','Col 13','Col 14','Col 15','Col 16','Col 17','Col 18','Col 19','Col 20','Col 21','Col 22','Col 23','Col 24','Col 25','Col 26','Col 27','Col 28','Col 29','Col 30','Col 31','Col 32','Col 33','Col 34','Col 35','Col 36','Col 37','Col 38','Col 39','Col 40'])

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Somonnoy44/DSCI-project/main/Datasets/Day%200/criteo_hundred_thousand_day_0.csv")

In [2]:
df.describe()

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12,Col 13,Col 14
count,100000.000000,78706.000000,90279.000000,74648.000000,52605.000000,54602.000000,90261.000000,96678.000000,100000.000000,100000.00000,90261.000000,54602.000000,9.860900e+04,74648.000000
mean,0.026840,38.308172,438.386014,6.728673,174.537496,20.305007,1.163681,0.123151,110.464630,9.44718,0.198868,3.898154,2.247106e+04,9.167573
std,0.161616,553.285692,756.864720,8.852498,1123.694171,71.749457,6.011681,2.285524,378.220298,12.30074,0.476693,6.700380,7.502818e+04,18.008165
min,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-1.000000,0.00000,0.000000,1.000000,0.000000e+00,0.000000
25%,0.000000,3.000000,61.500000,1.000000,10.000000,2.000000,0.000000,0.000000,1.000000,1.00000,0.000000,1.000000,6.260000e+02,2.000000
50%,0.000000,7.000000,195.000000,4.000000,36.000000,5.000000,0.000000,0.000000,5.000000,5.00000,0.000000,2.000000,3.826000e+03,5.000000
75%,0.000000,21.000000,507.000000,9.000000,111.000000,15.000000,0.000000,0.000000,50.000000,14.00000,0.000000,4.000000,1.375600e+04,11.000000
max,1.000000,65535.000000,7990.000000,254.000000,165467.000000,2767.000000,433.000000,472.000000,19457.000000,1345.00000,6.000000,143.000000,1.943261e+06,1500.000000

In [3]:
df.isnull().sum()

Col 1         0
Col 2     21294
Col 3      9721
Col 4     25352
Col 5     47395
Col 6     45398
Col 7      9739
Col 8      3322
Col 9         0
Col 10        0
Col 11     9739
Col 12    45398
Col 13     1391
Col 14    25352
Col 15     2917
Col 16        0
Col 17        0
Col 18        0
Col 19        0
Col 20        0
Col 21        0
Col 22        0
Col 23        0
Col 24     2917
Col 25     2917
Col 26        0
Col 27        0
Col 28    42113
Col 29        0
Col 30    42113
Col 31    42113
Col 32        0
Col 33        0
Col 34     2917
Col 35     2917
Col 36     2917
Col 37    42113
Col 38        0
Col 39        0
Col 40        0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 40 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Col 1   100000 non-null  int64
 1   Col 2   78706 non-null   float64
 2   Col 3   90279 non-null   float64
 3   Col 4   74648 non-null   float64
 4   Col 5   52605 non-null   float64
 5   Col 6   54602 non-null   float64
 6   Col 7   90261 non-null   float64
 7   Col 8   96678 non-null   float64
 8   Col 9   100000 non-null  int64
 9   Col 10  100000 non-null  int64
 10  Col 11  90261 non-null   float64
 11  Col 12  54602 non-null   float64
 12  Col 13  98609 non-null   float64
 13  Col 14  74648 non-null   float64
 14  Col 15  97083 non-null   object
 15  Col 16  100000 non-null  object
 16  Col 17  100000 non-null  object
 17  Col 18  100000 non-null  object
 18  Col 19  100000 non-null  object
 19  Col 20  100000 non-null  object
 20  Col 21  100000 non-null  object
 21  Col 22  100000 non-null  object
 22  Col 23  100000 non-null  object
 23  Col 24  97083 non-null   object
 24  Col 25  97083 non-null   object
 25  Col 26  100000 non-null  object
 26  Col 27  100000 non-null  object
 27  Col 28  57887 non-null   object
 28  Col 29  100000 non-null  object
 29  Col 30  57887 non-null   object
 30  Col 31  57887 non-null   object
 31  Col 32  100000 non-null  object
 32  Col 33  100000 non-null  object
 33  Col 34  97083 non-null   object
 34  Col 35  97083 non-null   object
 35  Col 36  97083 non-null   object
 36  Col 37  57887 non-null   object
 37  Col 38  100000 non-null  object
 38  Col 39  100000 non-null  object
 39  Col 40  100000 non-null  object
dtypes: float64(11), int64(3), object(26)
memory usage: 30.5+ MB

In [5]:
df = df.drop(['Col 5', 'Col 6', 'Col 12', 'Col 28', 'Col 30', 'Col 31', 'Col 37'], axis = 1)

In [6]:
df.isnull().sum()

Col 1         0
Col 2     21294
Col 3      9721
Col 4     25352
Col 7      9739
Col 8      3322
Col 9         0
Col 10        0
Col 11     9739
Col 13     1391
Col 14    25352
Col 15     2917
Col 16        0
Col 17        0
Col 18        0
Col 19        0
Col 20        0
Col 21        0
Col 22        0
Col 23        0
Col 24     2917
Col 25     2917
Col 26        0
Col 27        0
Col 29        0
Col 32        0
Col 33        0
Col 34     2917
Col 35     2917
Col 36     2917
Col 38        0
Col 39        0
Col 40        0
dtype: int64

In [7]:
df.head()

,Col 1,Col 2,Col 3,Col 4,Col 7,Col 8,Col 9,Col 10,Col 11,Col 13,...,Col 27,Col 29,Col 32,Col 33,Col 34,Col 35,Col 36,Col 38,Col 39,Col 40
0,1,5.0,110.0,NaN,1.0,0.0,14,7,1.0,306.0,...,00c5ffb7,8a0b74cc,b8170bba,9512c20b,c38e2f28,14f65a5d,25b1b089,7caf609c,30436bfc,ed10571d
1,0,32.0,3.0,5.0,0.0,0.0,61,5,0.0,3157.0,...,00c5ffb7,f3bbfe99,a1eb1511,9512c20b,febfd863,a3323ca1,c8e1ee56,75350c8a,991321ea,b757e957
2,0,NaN,233.0,1.0,0.0,0.0,99,7,0.0,3101.0,...,00c5ffb7,f70f0d0b,628f1b8d,9512c20b,c38e2f28,14f65a5d,25b1b089,34a9b905,ff654802,ed10571d
3,0,NaN,24.0,NaN,NaN,0.0,56,3,NaN,20456.0,...,d49eb1df,2b083b96,a1eb1511,9512c20b,NaN,NaN,NaN,b8a81fb0,30436bfc,b757e957
4,0,60.0,223.0,6.0,0.0,0.0,1,8,0.0,1582.0,...,a77a4a56,eb24f585,d9f758ff,9512c20b,c709ec07,2b07677e,a89a92a5,e619743b,cdc3217e,ed10571d

In [8]:
df['Col 2'].mode()

0    1.0
dtype: float64

In [9]:
df['Col 2'].fillna(value = df['Col 2'].mode()[0],inplace=True)

In [10]:
df.head()

,Col 1,Col 2,Col 3,Col 4,Col 7,Col 8,Col 9,Col 10,Col 11,Col 13,...,Col 27,Col 29,Col 32,Col 33,Col 34,Col 35,Col 36,Col 38,Col 39,Col 40
0,1,5.0,110.0,NaN,1.0,0.0,14,7,1.0,306.0,...,00c5ffb7,8a0b74cc,b8170bba,9512c20b,c38e2f28,14f65a5d,25b1b089,7caf609c,30436bfc,ed10571d
1,0,32.0,3.0,5.0,0.0,0.0,61,5,0.0,3157.0,...,00c5ffb7,f3bbfe99,a1eb1511,9512c20b,febfd863,a3323ca1,c8e1ee56,75350c8a,991321ea,b757e957
2,0,1.0,233.0,1.0,0.0,0.0,99,7,0.0,3101.0,...,00c5ffb7,f70f0d0b,628f1b8d,9512c20b,c38e2f28,14f65a5d,25b1b089,34a9b905,ff654802,ed10571d
3,0,1.0,24.0,NaN,NaN,0.0,56,3,NaN,20456.0,...,d49eb1df,2b083b96,a1eb1511,9512c20b,NaN,NaN,NaN,b8a81fb0,30436bfc,b757e957
4,0,60.0,223.0,6.0,0.0,0.0,1,8,0.0,1582.0,...,a77a4a56,eb24f585,d9f758ff,9512c20b,c709ec07,2b07677e,a89a92a5,e619743b,cdc3217e,ed10571d

In [11]:
df.isnull().sum()

Col 1         0
Col 2         0
Col 3      9721
Col 4     25352
Col 7      9739
Col 8      3322
Col 9         0
Col 10        0
Col 11     9739
Col 13     1391
Col 14    25352
Col 15     2917
Col 16        0
Col 17        0
Col 18        0
Col 19        0
Col 20        0
Col 21        0
Col 22        0
Col 23        0
Col 24     2917
Col 25     2917
Col 26        0
Col 27        0
Col 29        0
Col 32        0
Col 33        0
Col 34     2917
Col 35     2917
Col 36     2917
Col 38        0
Col 39        0
Col 40        0
dtype: int64

In [12]:
df['Col 3'].median()

195.0

In [13]:
df['Col 3'].fillna(value = df['Col 3'].median(),inplace=True)

In [14]:
df.isnull().sum()

Col 1         0
Col 2         0
Col 3         0
Col 4     25352
Col 7      9739
Col 8      3322
Col 9         0
Col 10        0
Col 11     9739
Col 13     1391
Col 14    25352
Col 15     2917
Col 16        0
Col 17        0
Col 18        0
Col 19        0
Col 20        0
Col 21        0
Col 22        0
Col 23        0
Col 24     2917
Col 25     2917
Col 26        0
Col 27        0
Col 29        0
Col 32        0
Col 33        0
Col 34     2917
Col 35     2917
Col 36     2917
Col 38        0
Col 39        0
Col 40        0
dtype: int64

In [15]:
df['Col 4'].fillna(value = df['Col 4'].median(),inplace=True)

In [16]:
df['Col 7'] = df['Col 7'].fillna(df['Col 7'].mode()[0])

In [17]:
df['Col 8'] = df['Col 8'].fillna(df['Col 8'].mode()[0])

In [18]:
df['Col 11'] = df['Col 11'].fillna(df['Col 11'].mode()[0])

In [19]:
df['Col 13'].fillna(value = df['Col 13'].median(),inplace=True)

In [20]:
df['Col 14'] = df['Col 14'].fillna(df['Col 14'].mode()[0])

In [21]:
df['Col 15'].nunique()

23796

In [22]:
df.columns

Index(['Col 1', 'Col 2', 'Col 3', 'Col 4', 'Col 7', 'Col 8', 'Col 9', 'Col 10',
       'Col 11', 'Col 13', 'Col 14', 'Col 15', 'Col 16', 'Col 17', 'Col 18',
       'Col 19', 'Col 20', 'Col 21', 'Col 22', 'Col 23', 'Col 24', 'Col 25',
       'Col 26', 'Col 27', 'Col 29', 'Col 32', 'Col 33', 'Col 34', 'Col 35',
       'Col 36', 'Col 38', 'Col 39', 'Col 40'],
      dtype='object')

In [23]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df['Col 40']= label_encoder.fit_transform(df['Col 40'])
df['Col 39']= label_encoder.fit_transform(df['Col 39'])
df['Col 38']= label_encoder.fit_transform(df['Col 38'])
df['Col 36']= label_encoder.fit_transform(df['Col 36'])
df['Col 35']= label_encoder.fit_transform(df['Col 35'])
df['Col 34']= label_encoder.fit_transform(df['Col 34'])
df['Col 33']= label_encoder.fit_transform(df['Col 33'])
df['Col 32']= label_encoder.fit_transform(df['Col 32'])
df['Col 29']= label_encoder.fit_transform(df['Col 29'])
df['Col 27']= label_encoder.fit_transform(df['Col 27'])
df['Col 26']= label_encoder.fit_transform(df['Col 26'])
df['Col 25']= label_encoder.fit_transform(df['Col 25'])
df['Col 24']= label_encoder.fit_transform(df['Col 24'])
df['Col 23']= label_encoder.fit_transform(df['Col 23'])
df['Col 22']= label_encoder.fit_transform(df['Col 22'])
df['Col 21']= label_encoder.fit_transform(df['Col 21'])
df['Col 20']= label_encoder.fit_transform(df['Col 20'])
df['Col 19']= label_encoder.fit_transform(df['Col 19'])
df['Col 18']= label_encoder.fit_transform(df['Col 18'])
df['Col 17']= label_encoder.fit_transform(df['Col 17'])
df['Col 16']= label_encoder.fit_transform(df['Col 16'])
df['Col 15']= label_encoder.fit_transform(df['Col 15'])

In [24]:
list_cols = [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 32, 33, 34, 35, 36, 38, 39, 40]

for col_no in list_cols:
  df["Col " + str(col_no)] = df["Col " + str(col_no)].fillna(df["Col " + str(col_no)].mode()[0])

In [25]:
df.isnull().sum()

Col 1     0
Col 2     0
Col 3     0
Col 4     0
Col 7     0
Col 8     0
Col 9     0
Col 10    0
Col 11    0
Col 13    0
Col 14    0
Col 15    0
Col 16    0
Col 17    0
Col 18    0
Col 19    0
Col 20    0
Col 21    0
Col 22    0
Col 23    0
Col 24    0
Col 25    0
Col 26    0
Col 27    0
Col 29    0
Col 32    0
Col 33    0
Col 34    0
Col 35    0
Col 36    0
Col 38    0
Col 39    0
Col 40    0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 33 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Col 1   100000 non-null  int64
 1   Col 2   100000 non-null  float64
 2   Col 3   100000 non-null  float64
 3   Col 4   100000 non-null  float64
 4   Col 7   100000 non-null  float64
 5   Col 8   100000 non-null  float64
 6   Col 9   100000 non-null  int64
 7   Col 10  100000 non-null  int64
 8   Col 11  100000 non-null  float64
 9   Col 13  100000 non-null  float64
 10  Col 14  100000 non-null  float64
 11  Col 15  100000 non-null  int64
 12  Col 16  100000 non-null  int64
 13  Col 17  100000 non-null  int64
 14  Col 18  100000 non-null  int64
 15  Col 19  100000 non-null  int64
 16  Col 20  100000 non-null  int64
 17  Col 21  100000 non-null  int64
 18  Col 22  100000 non-null  int64
 19  Col 23  100000 non-null  int64
 20  Col 24  100000 non-null  int64
 21  Col 25  100000 non-null  int64
 22  Col 26  100000 non-null  int64
 23  Col 27  100000 non-null  int64
 24  Col 29  100000 non-null  int64
 25  Col 32  100000 non-null  int64
 26  Col 33  100000 non-null  int64
 27  Col 34  100000 non-null  int64
 28  Col 35  100000 non-null  int64
 29  Col 36  100000 non-null  int64
 30  Col 38  100000 non-null  int64
 31  Col 39  100000 non-null  int64
 32  Col 40  100000 non-null  int64
dtypes: float64(8), int64(25)
memory usage: 25.2 MB

In [27]:
df.head()

,Col 1,Col 2,Col 3,Col 4,Col 7,Col 8,Col 9,Col 10,Col 11,Col 13,...,Col 27,Col 29,Col 32,Col 33,Col 34,Col 35,Col 36,Col 38,Col 39,Col 40
0,1,5.0,110.0,4.0,1.0,0.0,14,7,1.0,306.0,...,0,1549,265,9,18640,1190,3307,2510,2,24
1,0,32.0,3.0,5.0,0.0,0.0,61,5,0.0,3157.0,...,0,2754,227,9,24395,9205,17887,2356,21,19
2,0,1.0,233.0,1.0,0.0,0.0,99,7,0.0,3101.0,...,0,2787,136,9,18640,1190,3307,1074,41,24
3,0,1.0,24.0,4.0,0.0,0.0,56,3,0.0,20456.0,...,6,467,227,9,24507,14512,22658,3684,2,19
4,0,60.0,223.0,6.0,0.0,0.0,1,8,0.0,1582.0,...,4,2637,310,9,18987,2384,14928,4609,27,24

In [28]:
X = df.iloc[:,1:]
y = df.iloc[:, :1]

In [29]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X.iloc[:,:11])
X.iloc[:,:11] = scaler.transform(X.iloc[:,:11])

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [31]:
# train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression


# instantiate the model
logreg = LogisticRegression(solver='liblinear', random_state=0)


# fit the model
logreg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0, solver='liblinear')

In [32]:
y_pred_test = logreg.predict(X_test)

y_pred_test

array([0, 0, 0, ..., 0, 0, 0])

In [33]:
from sklearn.metrics import accuracy_score

In [39]:
print('Test-set accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred_test)))

Test-set accuracy score: 0.9732

In [40]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, logreg.predict(X_train))))

Training-set accuracy score: 0.9731