In [60]:
import warnings
warnings.filterwarnings('ignore')

In [61]:
# import gzip
# import csv
# with gzip.open('day_0.gz', 'rt') as f:

#     tsv_reader = csv.reader(f, delimiter="\t")

#     number_of_lines = 10

#     for i in range(number_of_lines):
#         row = next(tsv_reader)
#         print(i, row)

In [62]:
# import gzip
# import csv
# with gzip.open('day_0.gz', 'rt') as f:

#     tsv_reader = csv.reader(f, delimiter="\t")

#     number_of_lines = 100

#     for i in range(number_of_lines):
#         row = next(tsv_reader)
#         print(i, row)

In [63]:
# import gzip
# import csv
# with gzip.open('day_0.gz', 'rt') as f:

#     tsv_reader = csv.reader(f, delimiter="\t")

#     number_of_lines = 100

#     for i in range(number_of_lines):
#         row = next(tsv_reader)
#         for j in row:
#             print(j)

In [64]:
# import gzip
# import csv
# import pandas as pd
# list = []
# with gzip.open('day_0.gz', 'rt') as f:

#     tsv_reader = csv.reader(f, delimiter="\t")

#     number_of_lines = 1000

#     for i in range(number_of_lines):
#         row = next(tsv_reader)
#         list.append(row)
#         df=pd.DataFrame(list,columns=['Col 1','Col 2','Col 3','Col 4','Col 5','Col 6','Col 7','Col 8','Col 9','Col 10','Col 11','Col 12','Col 13','Col 14','Col 15','Col 16','Col 17','Col 18','Col 19','Col 20','Col 21','Col 22','Col 23','Col 24','Col 25','Col 26','Col 27','Col 28','Col 29','Col 30','Col 31','Col 32','Col 33','Col 34','Col 35','Col 36','Col 37','Col 38','Col 39','Col 40'])

In [65]:
import pandas as pd
df = pd.read_csv(r"C:\Users\envy\Downloads\Datasets\Day 0\criteo_twenty_thousand_day_0.csv")

In [66]:
df.head()

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,...,Col 31,Col 32,Col 33,Col 34,Col 35,Col 36,Col 37,Col 38,Col 39,Col 40
0,1,5.0,110.0,NaN,16.0,NaN,1.0,0.0,14,7,...,d20856aa,b8170bba,9512c20b,c38e2f28,14f65a5d,25b1b089,d7c1fc0b,7caf609c,30436bfc,ed10571d
1,0,32.0,3.0,5.0,NaN,1.0,0.0,0.0,61,5,...,d20856aa,a1eb1511,9512c20b,febfd863,a3323ca1,c8e1ee56,1752e9e8,75350c8a,991321ea,b757e957
2,0,NaN,233.0,1.0,146.0,1.0,0.0,0.0,99,7,...,d20856aa,628f1b8d,9512c20b,c38e2f28,14f65a5d,25b1b089,d7c1fc0b,34a9b905,ff654802,ed10571d
3,0,NaN,24.0,NaN,11.0,24.0,NaN,0.0,56,3,...,1f7fc70b,a1eb1511,9512c20b,NaN,NaN,NaN,dc209cd3,b8a81fb0,30436bfc,b757e957
4,0,60.0,223.0,6.0,15.0,5.0,0.0,0.0,1,8,...,d20856aa,d9f758ff,9512c20b,c709ec07,2b07677e,a89a92a5,aa137169,e619743b,cdc3217e,ed10571d

In [67]:
df.isnull().sum()

Col 1        0
Col 2     4682
Col 3     1985
Col 4     5157
Col 5     9784
Col 6     9282
Col 7     1834
Col 8      668
Col 9        0
Col 10       0
Col 11    1834
Col 12    9282
Col 13     286
Col 14    5157
Col 15     513
Col 16       0
Col 17       0
Col 18       0
Col 19       0
Col 20       0
Col 21       0
Col 22       0
Col 23       0
Col 24     513
Col 25     513
Col 26       0
Col 27       0
Col 28    9170
Col 29       0
Col 30    9170
Col 31    9170
Col 32       0
Col 33       0
Col 34     513
Col 35     513
Col 36     513
Col 37    9170
Col 38       0
Col 39       0
Col 40       0
dtype: int64

In [68]:
df.dtypes

Col 1       int64
Col 2     float64
Col 3     float64
Col 4     float64
Col 5     float64
Col 6     float64
Col 7     float64
Col 8     float64
Col 9       int64
Col 10      int64
Col 11    float64
Col 12    float64
Col 13    float64
Col 14    float64
Col 15     object
Col 16     object
Col 17     object
Col 18     object
Col 19     object
Col 20     object
Col 21     object
Col 22     object
Col 23     object
Col 24     object
Col 25     object
Col 26     object
Col 27     object
Col 28     object
Col 29     object
Col 30     object
Col 31     object
Col 32     object
Col 33     object
Col 34     object
Col 35     object
Col 36     object
Col 37     object
Col 38     object
Col 39     object
Col 40     object
dtype: object

In [69]:
df = df.drop(['Col 5', 'Col 6', 'Col 12', 'Col 28', 'Col 30', 'Col 31', 'Col 37'], axis = 1)

In [70]:
df.shape

(20000, 33)

In [71]:
df['Col 2'] = df['Col 2'].fillna(df['Col 2'].mode()[0])

In [72]:
df.isnull().sum()

Col 1        0
Col 2        0
Col 3     1985
Col 4     5157
Col 7     1834
Col 8      668
Col 9        0
Col 10       0
Col 11    1834
Col 13     286
Col 14    5157
Col 15     513
Col 16       0
Col 17       0
Col 18       0
Col 19       0
Col 20       0
Col 21       0
Col 22       0
Col 23       0
Col 24     513
Col 25     513
Col 26       0
Col 27       0
Col 29       0
Col 32       0
Col 33       0
Col 34     513
Col 35     513
Col 36     513
Col 38       0
Col 39       0
Col 40       0
dtype: int64

In [73]:
df.head()

,Col 1,Col 2,Col 3,Col 4,Col 7,Col 8,Col 9,Col 10,Col 11,Col 13,...,Col 27,Col 29,Col 32,Col 33,Col 34,Col 35,Col 36,Col 38,Col 39,Col 40
0,1,5.0,110.0,NaN,1.0,0.0,14,7,1.0,306.0,...,00c5ffb7,8a0b74cc,b8170bba,9512c20b,c38e2f28,14f65a5d,25b1b089,7caf609c,30436bfc,ed10571d
1,0,32.0,3.0,5.0,0.0,0.0,61,5,0.0,3157.0,...,00c5ffb7,f3bbfe99,a1eb1511,9512c20b,febfd863,a3323ca1,c8e1ee56,75350c8a,991321ea,b757e957
2,0,1.0,233.0,1.0,0.0,0.0,99,7,0.0,3101.0,...,00c5ffb7,f70f0d0b,628f1b8d,9512c20b,c38e2f28,14f65a5d,25b1b089,34a9b905,ff654802,ed10571d
3,0,1.0,24.0,NaN,NaN,0.0,56,3,NaN,20456.0,...,d49eb1df,2b083b96,a1eb1511,9512c20b,NaN,NaN,NaN,b8a81fb0,30436bfc,b757e957
4,0,60.0,223.0,6.0,0.0,0.0,1,8,0.0,1582.0,...,a77a4a56,eb24f585,d9f758ff,9512c20b,c709ec07,2b07677e,a89a92a5,e619743b,cdc3217e,ed10571d

In [74]:
# Keeping a threshold of 100
# If number of unique values in a feature is less than 100 in Integer valued feature, we go for mode. Otherwise we go for median
# All the categorical features having null values will be replaced by mode of the feature
df['Col 3'] = df['Col 3'].fillna(df['Col 3'].median())
df['Col 4'] = df['Col 4'].fillna(df['Col 4'].mode()[0])
df['Col 7'] = df['Col 7'].fillna(df['Col 7'].mode()[0])
df['Col 8'] = df['Col 8'].fillna(df['Col 8'].mode()[0])
df['Col 11'] = df['Col 11'].fillna(df['Col 11'].mode()[0])
df['Col 13'] = df['Col 13'].fillna(df['Col 13'].median())
df['Col 14'] = df['Col 14'].fillna(df['Col 14'].mode()[0])

In [75]:
# Encoding the categorical variables so that we can make it suitable for further processing and model building

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df['Col 40']= label_encoder.fit_transform(df['Col 40'])
df['Col 39']= label_encoder.fit_transform(df['Col 39'])
df['Col 38']= label_encoder.fit_transform(df['Col 38'])
df['Col 36']= label_encoder.fit_transform(df['Col 36'])
df['Col 35']= label_encoder.fit_transform(df['Col 35'])
df['Col 34']= label_encoder.fit_transform(df['Col 34'])
df['Col 33']= label_encoder.fit_transform(df['Col 33'])
df['Col 32']= label_encoder.fit_transform(df['Col 32'])
df['Col 29']= label_encoder.fit_transform(df['Col 29'])
df['Col 27']= label_encoder.fit_transform(df['Col 27'])
df['Col 26']= label_encoder.fit_transform(df['Col 26'])
df['Col 25']= label_encoder.fit_transform(df['Col 25'])
df['Col 24']= label_encoder.fit_transform(df['Col 24'])
df['Col 23']= label_encoder.fit_transform(df['Col 23'])
df['Col 22']= label_encoder.fit_transform(df['Col 22'])
df['Col 21']= label_encoder.fit_transform(df['Col 21'])
df['Col 20']= label_encoder.fit_transform(df['Col 20'])
df['Col 19']= label_encoder.fit_transform(df['Col 19'])
df['Col 18']= label_encoder.fit_transform(df['Col 18'])
df['Col 17']= label_encoder.fit_transform(df['Col 17'])
df['Col 16']= label_encoder.fit_transform(df['Col 16'])
df['Col 15']= label_encoder.fit_transform(df['Col 15'])

In [76]:
df['Col 15'] = df['Col 15'].fillna(df['Col 15'].mode()[0])
df['Col 15'].isnull().sum()

0

In [77]:
list_cols = [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 32, 33, 34, 35, 36, 38, 39, 40]

for col_no in list_cols:
  df["Col " + str(col_no)] = df["Col " + str(col_no)].fillna(df["Col " + str(col_no)].mode()[0])

In [78]:
# Checking for null values in df
df.isnull().sum()

Col 1     0
Col 2     0
Col 3     0
Col 4     0
Col 7     0
Col 8     0
Col 9     0
Col 10    0
Col 11    0
Col 13    0
Col 14    0
Col 15    0
Col 16    0
Col 17    0
Col 18    0
Col 19    0
Col 20    0
Col 21    0
Col 22    0
Col 23    0
Col 24    0
Col 25    0
Col 26    0
Col 27    0
Col 29    0
Col 32    0
Col 33    0
Col 34    0
Col 35    0
Col 36    0
Col 38    0
Col 39    0
Col 40    0
dtype: int64

In [79]:
X = df.iloc[:,1:]
y = df.iloc[:, :1]

In [80]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X.iloc[:,:11])
X.iloc[:,:11] = scaler.transform(X.iloc[:,:11])

In [81]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [82]:
# train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression


# instantiate the model
logreg = LogisticRegression(solver='liblinear', random_state=0)


# fit the model
logreg.fit(X_train, y_train)

LogisticRegression(random_state=0, solver='liblinear')

In [83]:
y_pred_test = logreg.predict(X_test)

y_pred_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [84]:
from sklearn.metrics import accuracy_score
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred_test)))

Training-set accuracy score: 0.9757

In [85]:
# from xgboost import XGBClassifier
# model = XGBClassifier()
# model.fit(X_train, y_train)
# y_pred_test_xg = model.predict(X_test)

In [86]:
# print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred_test_xg)))

In [87]:
# df1 = pd.read_csv("https://raw.githubusercontent.com/Somonnoy44/DSCI-project/main/criteo_ten_thousand_day_0.csv")

In [88]:
# df1.tail()